{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-1 md:grid-cols-4 gap-4 bg-gray-900 dark:bg-gray-900">
        <!-- Left Div with Glass Effect -->
        <div class="md:col-span-1 bg-opacity-25 bg-white dark:bg-gray-800 rounded-xl p-6 shadow-lg">
            <form method="get" action="{% url 'items' %}" id="search-form" autocomplete="off">
                <input name="query" class="w-full py-4 px-6 mb-4 border rounded-xl bg-white dark:bg-gray-800 text-gray-900 dark:text-white" id="search-input" type="text" value="{{ query }}" placeholder="Find a bike, a chair or car...">

                <button class="w-full py-4 px-8 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-600" type="submit">Search</button>
            </form>

            <hr class="my-6 border-gray-300 dark:border-gray-700">

            <p class="font-semibold text-white">Categories</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-700 dark:bg-gray-700{% endif %}">
                        <a href="{% url 'items' %}?query={{ query }}&category={{ category.id }}" class="text-white">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6 border-gray-300 dark:border-gray-700">

            <p class="font-semibold text-white">Clear filters</p>

            <ul>
                <li><a href="{% url 'items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white hover:bg-yellow-600">Clear</a></li>
            </ul>
        </div>

        <!-- Right Div with Items -->
        <div class="md:col-span-3">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for item in items %}
                    <div class="bg-white dark:bg-gray-800 rounded-xl overflow-hidden shadow-lg">
                        <a href="">
                            <img src="{{ item.image.url }}" class="w-full h-48 object-cover rounded-t-xl" alt="{{ item.name }}">
                            <div class="p-6">
                                <h2 class="text-2xl text-gray-900 dark:text-white">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% empty %}
                <div class="col-span-3">
                    <h3 class="text-white">No results found....!</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
