{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="w-full md:w-1/2 my-6 mx-auto p-6 bg-gray-200 rounded-xl"> <!-- Added bg-gray-200 for a box shape -->
    <h1 class="mb-6 text-3xl text-center">Log in</h1>

    <form method="POST" action="" id="login-form">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            <input class="w-full py-4 px-6 rounded-xl" type="text" name="username" placeholder="Enter your name.." required>
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            <div class="relative">
                <input id="password" class="w-full py-4 px-6 rounded-xl js-password" type="password" name="password" placeholder="Enter your password..." required>
                <input class="hidden js-password-toggle" id="toggle" type="checkbox" />
                <label class="bg-sky-500 hover:bg-sky-700 rounded px-2 py-1 text-sm text-text-white font-mono cursor-pointer absolute top-1/2 transform -translate-y-1/2 right-4 js-password-label" for="toggle">show</label>
            </div>
        </div>

        {% if messages %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-sky-500 hover:bg-sky-700 rounded-xl text-white w-full" type="submit" id="login-button">Submit</button>
    </form>
</div>
<script>
    // ... (Your existing script for password toggle and submit button toggle)
</script>

{% endblock %}
